// ----------  layout
// ------------------------------------------------------------------------------
html {
  //position: fixed;
  //height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  //overflow: hidden;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: yellow;
  font-family: $font-default;
  width: 100vw;
  height: 100%;
  //overflow: auto;
  //overflow-y: auto;
  //overflow-x: hidden;
  //-webkit-overflow-scrolling: touch;
}

#root {
  //overflow-x: hidden;
  overflow: auto;
}

.wrap {
  margin: 0 auto;
  max-width: 1370px;
  padding: 0 20px;
  width: 100%;
}


