// ----------  variables
// ------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-default: 'Poppins', sans-serif;
$font-special: 'Pangolin', cursive;

// Colors
$white: #fcfefe;
$grey-light: #F4F4ED;
$yellow-light: #f7e185;
$yellow-lighter: #fffacd;
$black: #393e46;
$black-light: #30292F;
$blue-light: #7FC8F8;
$blue: #5AA9E6;
$blue-dark: #151E3F;
$grey: #808080;
$purple: #5B4E77;
$purple-dark: #3A3042;
$charcoal: #2F394D;
$green-light: #54cbca;
$purple-light: #B7B5E4;


// ----------  Media queries breakpoints - Grid breakpoint
// ------------------------------------------------------------------------------

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;
