// ----------  variables
// ------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Pangolin&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-default: 'Poppins', sans-serif;
$font-special: 'Pangolin', cursive;
$font-title: 'Outfit', sans-serif;

// Colors

//initial
$white: #fcfefe;
$grey-light: #d6d9ce;
$grey: #808080;
$black: #393e46;
$black-light: #30292F;
$charcoal: #2F394D;
$white-light: #fcfefe;

//yellow
$yellow-light: #f7e185;
$yellow-lighter: #FEFCF3;
$yellow-bright: #e9ff70;

//blue
$blue-light: #7FC8F8;
$blue: #002233;
$blue-dark: #00293d;

//purple
$purple: #5B4E77;
$purple-dark: #3A3042;
$purple-light: #B7B5E4;

//green
$green-light: #baf2d8;
$green-bright: #00ffcc;

//pink
$peach: #FFDFD3;
$cream: #f5cda7;
$rose: #f7d6e0;

//brown
$brown: #d0b8ac;


// ----------  Media queries breakpoints - Grid breakpoint
// ------------------------------------------------------------------------------

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;
