.portfolio {
  padding: 20px 0 100px 0;
  @include themed() {
    color: t('text');
    background-color: t('bg3');
  }

  @include  media-breakpoint-down(md) {
    padding: 20px 0;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-family: $font-title;
    font-weight: 700;

    @include themed() {
      color: t('text');
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }


  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 60px;

    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}
