// ---------- buttons
// ------------------------------------------------------------------------------

button,
input[type='button'],
input[type='submit'] {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a,
button {
  appearance: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

.button {
  font-family: $font-default;
  font-weight: 600;
  font-size: 12px;
  padding: 12px 43px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  transition: 0.4s ease;
}

.button--rounded {
  border-radius: 30px;
  padding-left: 20px 30px;
  font-size: 18px;
  font-family: $font-headings;
}

.button--secondary {
  background-color: $blue-dark2;
  color: $white;
  border-color: $blue-dark2;

  &:hover {
    background: #215D72;
    box-shadow: 0 8px 10px rgba(121, 99, 104, .14), 0 3px 14px rgba(0, 0, 0, .12);
  }
}

.button--round {
  font-family: $font-default;
  font-weight: 600;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: $black;
  position: relative;
  padding-left: 35px;
  padding-right: 15px;
  transition: all 0.3s ease-out 0s;

  &::after {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    border-radius: 22px;
    top: 0;
    left: 0;
    background-color: $main-color;
    transition: all 0.3s ease-out 0s;
    z-index: -1;
  }

  &:hover {
    color: $white;

    &::after {
      width: 100%;
    }
  }
}

.button--primary {
  color: $white;
  background: linear-gradient(180deg, $main-color-mix 0%, $main-color 100%);


  &:hover {
    background: linear-gradient(180deg, $main-color-mix2 0%, $main-color-mix 100%);
    box-shadow: 0px 8px 10px rgba(121, 99, 104, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12);
  }
}

.button--link {
  border: 1px solid $white;
  border-radius: 5px;
  line-height: 48px;
  padding: 0 30px;
  color: $white;

  &:hover {
    border-color: $main-color;
    color: $main-color;
  }
}
