
.nav {
  position: relative;

  @include themed() {
    color: t('text');
    background: t('bg2')
  }


  &__list {
    display: flex;
    width: 100%;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }
  }

  &__item {
    text-align: center;
    padding: 20px 0;
    margin: 0 8%;

    &:hover {
      .nav__link {
        cursor: pointer;
        @include themed() {
          color: t('text-hover');
        }
      }

      .nav__link::after {
        width: 100%;
      }
    }

    @include media-breakpoint-down(sm) {
      margin: 0 2%;
    }
  }

  &__link {
    @include themed() {
      color: t('text');
    }
    font-family: $font-title;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    transition: 0.5s ease;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      transition: 0.3s ease;
      @include themed() {
        background: t('bg')
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

}
