.divider__bg {
  @include themed() {
    color: t('text');
    background: t('bg2')
  }

  height: 72px;
  overflow: hidden;

  svg {
    @include themed() {
      fill: t('fill')
    }
  }

}

.divider__bg-sep {
  @include themed() {
    color: t('text');
    background: t('bg3')
  }

  height: 160px;
  overflow: hidden;

  svg {
    @include themed() {
      fill: t('fill')
    };
    height: 137px;
  }

  @include media-breakpoint-down(md) {
    height: 120px;
  }

}

.divider__svg--rotated {
  @include themed() {
    fill: t('fill');
    background: t('bg3');
  }
}

.divider__svg--dark {
  @include themed() {
    fill: t('fill');
    background: t('bg2')
  }
  height: 163px !important;
}

